<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="src/examples.css">
    <link rel="stylesheet" type="text/css" href="node_modules/tuiomanager/widgets/CircularMenu/circularmenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>TUIOSamples</title>
  </head>
  <body>
    <h1>Communication avec socket.io !</h1>

    <!--<script src="node_modules/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src='https://cdn.rawgit.com/admsev/jquery-play-sound/master/jquery.playSound.js'></script> -->

    <form action="/" method="post" id="formulaire_chat">
      <input type="text" name="message" id="message" placeholder="Votre message..." size="50" autofocus />
      <input type="submit" id="envoi_message" value="Envoyer" />
    </form>

    <h2>Messages </h2>
    <table id="myTable">
      <tbody>
      </tbody>
    </table>
      <div id="app">
      </div>
    <div id="color_div0">
      <h1>COLOR 0</h1>
    </div>
    <div id="color_div1">
      <h1>COLOR 1</h1>
    </div>
    <div id="color_div2">
      <h1>COLOR 2</h1>
    </div>
    <div id="color_div3">
      <h1>COLOR 3</h1>
    </div>
  </body>
</html>
